/* You can add global styles to this file, and also import other style files */

.employee-table {
    .p-datatable {
        position: relative;
        width: 120vh;
        max-height: 80vh;
        overflow: scroll;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

